*{
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.bg {
    background-image: url('https://images.unsplash.com/photo-1653248307168-951eea06a9ca?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171');
    position: absolute;
    /* top:-30px;
    left:30px;
    right: 30px;
    bottom: 30px; */
    /* background-repeat: no-repeat; */
  
    border: 3px solid grey;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);

}
.loading_text{
    color: white;
    font-size: 45px;
}