@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


body {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    position: relative;
    height: 100vh;
    /* border: 1px solid grey; */
}
h2 {
    position: absolute;
    top:0px;
    font-size: 45px;
    font-family: 'chewy',cursive;
    text-shadow: 5px 5px 15px rgba(0,0,0,25);
    color: white;
}

h2:hover {
    color: rgb(108, 240, 240);
    font-size:50px;
}
.panel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    border-radius: 50px;
    cursor: pointer;
    flex:0.5;
    color: aliceblue;
    /* text-align: center; */
    position: relative;
    margin:10px;
    transition: flex 1s ease-in;
    transition-duration: 0.7s;
    box-shadow: 7px 7px 7px 7px rgba(0,0,0,25);
    /* border: 1px solid black; */
    
    
}
.panel h3 {
    font-size: 22px;
    bottom : 5px;
    left:20px;
    position: absolute;
    opacity: 0;
    margin:0;
    transition-duration: 0.4s;
    font-family: 'chewy',cursive;
    text-shadow: 5px 5px 15px rgba(0,0,0,25);
    
    
}
h3:hover {
    color: aquamarine;
    font-size:50px;
}

.panel.active{
    flex: 4; 
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4;
}


@media screen and (max-width: 480px){
    .container {
        width: 100vw;
       
    }
    .panel {
        box-shadow: 13px 30px 13px 13px rgba(0,0,0,25);
        /* border: 1px solid black; */
        
    }
    
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
    .panel.active h3 {
        font-size: 30px;
        
    }
    .panel.active h3:hover {
        font-size: 28px;
        color: aqua;
    }
}
@media screen and (max-width:800px){
    .container {
        width: 80vw;
    }
    .panel:nth-of-type(5){
        display: none;
    }

}
@media  screen and (max-width:950px) {
    h2 {
        font-size: 56px;
    }
    h2:hover{
        color:aquamarine ;
    }
}